# Ignore cache, testing, build, and other temporary directories
build/
dist/
.tox/
.cache/
.pytest_cache/
PyDelphin.egg-info/
# Ignore the compiled python files
*.pyc
__pycache__/
# Ignore auto-saves
*~