# Ignore cache, testing, build, and other temporary directories
build/
dist/
.tox/
.cache/
.pytest_cache/
.mypy_cache/
PyDelphin.egg-info/
docs/_build/
docs/_templates/
docs/env/
tmp/
# Ignore the compiled python files
*.pyc
__pycache__/
PyDelphin.egg-info/
# Ignore auto-saves
*~
